* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --font-Bellefair: "Bellefair", serif;
  --font-Barlow: "Barlow Condensed", serif;
  --blue-900: rgb(11, 13, 23);
  --blue-300: rgb(208, 214, 249);
  --white: rgb(255, 255, 255);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  scroll-behavior: smooth;
}

/* HOME STYLES */
.index-html {
  background-image: url(assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 10px;
  position: relative;
}
.header-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.nav-ul {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 75px;
  gap: 2rem;
  list-style: none;
  padding: 20px 50px 20px 200px;
  background-color: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.nav-li a {
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: var(--blue-300);
  text-transform: uppercase;
  font-family: var(--font-Barlow);
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
}
.num {
  font-weight: 900;
  color: var(--white);
}
.nav-li a.a-active::after {
  content: ""; /*empty*/
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--white);
}
.nav-li a:hover::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.46);
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 150px;
  right: 100px;
}
.hero-content {
  display: flex;
  flex-direction: column-reverse;
}
.hero-h1 {
  font-size: 130px;
  color: var(--white);
  font-family: var(--font-Bellefair);
  font-weight: 300;
  text-transform: uppercase;
}
.hero-h2 {
  font-size: 25px;
  color: var(--blue-300);
  font-family: var(--font-Barlow);
  font-weight: 300;
  text-transform: uppercase;
}
.hero-p {
  font-size: 15px;
  text-align: justify;
  color: var(--blue-300);
  font-family: var(--font-Barlow);
  line-height: 20px;
  font-weight: 100;
  max-width: 65%;
  height: auto;
}
.explore {
  display: flex;
  justify-content: end;
  position: relative;
}
.explore-a {
  text-decoration: none;
}
.btn-explore {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 70px;
  font-family: var(--font-Bellefair);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  bottom: 0px;
  right: 50px;
  transition: box-shadow 0.3s ease;
}
.btn-explore:hover {
  box-shadow: 0 0 60px 10px rgba(255, 255, 255, 0.689);
  backdrop-filter: blur(10px);
}
footer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}
footer p {
  color: var(--blue-300);
  font-family: var(--font-Bellefair);
}

/* DESTINATION STYLES */
.destination-html {
  background-image: url(assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.main-destination {
  display: flex;
  flex-direction: row;
  position: relative;
}
.destination-content-left {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: left;
  width: 50%;
  height: 30px;
}
.destination-h1 {
  font-family: var(--font-Barlow);
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
}
.destination-num {
  font-family: var(--font-Barlow);
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 2px;
  color: rgb(91, 91, 91);
}

.destination-content-right {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 5px;
  max-width: 50%;
  height: auto;
  margin-top:100px;
}
.destination-img-container {
  width:50%;
  height: auto;
  position: absolute;
  right:700px;
  top: 0;
}
.destination-img {
  width: 100%;
  height: auto;
}
.destination-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  height: auto;
  margin-left:100px;
}
.destination-ul {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  gap: 15px;
  list-style: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.destination-btn{
  background-color: transparent;
  border: none;
  color: var(--blue-300);
  font-family: var(--font-Barlow);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;

}
.destination-btn:hover {
  color: var(--white);
}
.destination-h2 {
  color: var(--white);
  font-size: 80px;
  font-weight: 300;
  font-family: var(--font-Bellefair);
  text-transform: uppercase;
  max-width: 50%;
}
.destination-p{
  font-size: 14px;
  text-align: justify;
  color: var(--blue-300);
  font-family: var(--font-Barlow);
  line-height: 20px;
  font-weight: 100;
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}
.destination-info-child{
  display: flex;
  flex-direction: space-between;
  max-width: 60%;
  gap:70px;
}
.destination-info-child h3{
  font-family: var(--font-Barlow);
  font-size: 10px;
  color: var(--blue-300);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.destination-info-child p{
  font-family: var(--font-Bellefair);
  font-size: 18px;
  color: var(--white);
  text-transform: uppercase;

}

/* CREW   */
.crew-html {
  background-image: url(assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.main-crew {
  display: flex;
  flex-direction: column;
  position: relative;
}
.crew-content-top{
  display: flex;
  flex-direction: row;
  gap:15px;
  justify-content: center;
  width: 50%;
  height: 30px;
  
}
.crew-h1 {
  font-family: var(--font-Barlow);
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
}
.crew-num {
  font-family: var(--font-Barlow);
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 2px;
  color: rgb(91, 91, 91);
}
.crew-content-bottom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  height: auto;
  position: relative;
  top: 100px;
  left:50px;
}
.crew-content-bottom-left{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  gap: 20px;
  width: 50%;
  height: auto;
}
.content-bottom-left-info{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 100px;
}
.role{
  font-family: var(--font-Bellefair);
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: grey;
  max-width: 100%;
  margin-bottom: 10px;
  position: relative;
  right:93px;
}
.name{
  font-family: var(--font-Bellefair);
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white);
  max-width: 100%;
  margin-bottom: 10px;
}
.bio{
  font-family: var(--font-Barlow);
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  color: var(--blue-300);
  line-height: 20px;
  font-weight: 100;
  max-width: 60%;
  position: relative;
  left: 10px;
}
.list-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 50%;
  gap: 15px;
  list-style: none;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  left: 25px;
}
.list-btn{
  width: 8px; 
  height: 8px;
  background-color: rgba(128, 128, 128, 0.467); 
  border: none; 
  border-radius: 50%; 
  cursor: pointer; 
}
.list-btn:hover{
  background-color: rgba(255, 255, 255, 0.604); 
}
.crew-content-bottom-right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  position: relative;
  bottom: 30px;
}
.crew-img{
  width: 50%;
  height: auto;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 70%, transparent 50%);
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 70%, transparent 100%);
} 